@using PaySpace.Calculator.Web.Services.Models
@model PaySpace.Calculator.Web.Models.CalculatorHistoryViewModel

@{
    ViewBag.Title = "Calculator History";
    Layout = "_Layout";
}

<h2>Tax History</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Timestamp</th>
        <th scope="col">Postal Code</th>
        <th scope="col">Income</th>
        <th scope="col">Tax</th>
        <th scope="col">Calculator</th>
    </tr>
    </thead>
    <tbody>
    @foreach (CalculatorHistory? history in Model.CalculatorHistory)
    {
        <tr>
            <th scope="row">@history.Timestamp</th>
            <td>@history.PostalCode</td>
            <td>@history.Income</td>
            <td>@history.Tax</td>
            <td>@history.Calculator</td>
        </tr>
    }
    </tbody>
</table>
@{
    string prevDisabled = !Model.Pagination.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.Pagination.HasNextPage ? "disabled" : "";
}
<div class="d-flex justify-content-end">
    <a asp-page="/History"
       asp-route-PageSize="@Model.Pagination.PageSize"
       asp-route-PageNumber="@(Model.Pagination.PageNumber - 1 > 0 ? Model.Pagination.PageNumber - 1 : 1)"
       class="btn btn-primary @prevDisabled">
        Previous
    </a>
    <a asp-page="/History"
       asp-route-PageSize="@Model.Pagination.PageSize"
       asp-route-PageNumber="@(Model.Pagination.PageNumber + 1)"
       class="btn btn-primary @nextDisabled">
        Next
    </a>
</div>